docs/_site/

.sass-cache
.jekyll-cache
.jekyll-metadata
vendor


*.~undo-tree~
.DS_Store
*.log
*.dpth
*.pre
*.synctex.gz
*.aux
*.bbl
*.blg
*.cut
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.xcp
*_temp.tex
*.sta
*.synctex*

